.carousel .carousel-item {
    height: 99vh;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 50%;
    left: 50%;
    min-height: 500px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.nav-link, .navbar-brand {
    color: #7CFC00;
}

.carousel-1 {
    background-image: url('https://images.unsplash.com/photo-1628010055450-21f2a0863767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); 
}

.carousel-2 {
    background-image: url('../carousel-2.jpg');
}

.carousel-3 {
    background-image: url('../carousel-3.jpg');
}

.image {
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
}

.text-style {
    color: #7CFC00;
}

.heading {
    font-size: 46px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 23px;
}

.text-center {
    text-align: center;
}

.button {
    display: block;
    margin: 14px auto;
    width: 65%;
    white-space: nowrap;
}

/* [1] The container */
#zoomBOut {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  #zoomBIn img{
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  #zoomBIn img:hover{
    transform: scale(1.5);
  }

  #zoomBOut1 {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  #zoomBIn1 img{
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  #zoomBIn1 img:hover{
    transform: scale(1.5);
  }

  #zoomBOut2 {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  #zoomBIn2 img{
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  #zoomBIn2 img:hover{
    transform: scale(1.5);
  }