{% extends 'mySolar/layout.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<div id="about-text">
    <section class="img-area">
        <figure class="figure">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            <figcaption class="figure-caption text-center text-dark fs-2 fw-semibold">About Us</figcaption>
        </figure>
    </section>
    <section class="text-area container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque esse sunt expedita nobis laboriosam, assumenda dicta unde consectetur, quo ratione eum asperiores molestias dignissimos quam id explicabo voluptas numquam.
        </p>
        <div class="d-block mx-auto text-center">
            <a href="{% url 'login' %}"><button type="button" class="btn btn-lg btn-outline-primary me-2">Login</button></a>
            <a href="{% url 'contact' %}"><button type="button" class="btn btn-lg btn-outline-success me-2">Contact Us</button></a>
        </div>
    </section>
</div>
{% endblock %}