{% extends 'mySolar/layout.html' %}

{% block title %}
Welcome to MySolar | Home
{% endblock %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Buy solar panels, get them installed or get more insight on solar panels, made by Zimbabweans in Zimbabwe, for Zimbabwe and Zimbabweans">
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<div id="main-text">
    <!-- HERO SECTION / CALL TO ACTION -->
    <div class="container col-xxl-8 px-4 pb-3 pt-1 mt-0">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
<svg xmlns="http://www.w3.org/2000/svg" class="bi me-2" width="80%" height="80%" role="img" aria-label="mySolar" viewBox="0 0 16 16" fill="green">
              <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
</svg>            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Don't walk or drive to a solar shop again.</h1>
                <p class="lead">This is the future. Many means to order products and buy them have transitioned to the internet, however there is no reliable means to get products that help the environment, but keep your life easy.
                    Welcome to mysolar, a website for ordering solar and renewable energy products and accessories.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    {% if request.user.is_authenticated == True %}
                    {% if request.user.is_shopkeeper %}
                    <a href="{% url 'sellerDash' %}">
                        {% else %}
                        <a href="{% url 'buyerDash' %}">
                            {% endif %}
                            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Go
                                to Dashboard
                            </button>
                        </a>
                        {% else %}
                        <a href="{% url 'register' %}"><button type="button"
                                class="btn btn-primary btn-lg px-4 me-md-2">Join</button></a>
                        <a href="{% url 'login' %}"><button type="button"
                                class="btn btn-outline-secondary btn-lg px-4">Sign
                                In</button></a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN BODY -->
    <div class="row mb-1 featurette">
        <div class="col-md-7 mx-auto">
            <h2 class="my-2 text-center">Welcome to mySolar</h2>
            <p class="my-2">
                Our goal is simple, to aid the improvement and advancement of the SADC region through renewable and solar solutions, with the capabilities of the internet involved. 
                We believe anyone can participate, and anyone can get products or solutions on this website, if they have access to the internet, only. Find out more about us in the about page through the link below.
            </p>
            <div class="row my-2">
                <a href="{% url 'about' %}" class="col-md-4 btn btn-outline-primary btn-lg btn-block mx-auto">About</a>
            </div>
        </div>
    </div>

    <div class="featurette-divider border-bottom my-3 border-success rounded"></div>

    <div class="row mb-1 featurette">
        <div class="col-md-7">
            <h2 class="my-2">Order products online</h2>
            <p class="my-2">
                From Solar Panels, to batteries from a range of different sellers, we believe we have it all. Pick from a wide variety of brands. Try not to get lost trying to get the perfect product!
            </p>
            <div class="row center-button my-2 mx-auto">
                <a href="{% url 'shop' %}" class="col-md-4 btn btn-outline-primary btn-lg btn-block">Go to store</a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 my-2">
            <img class="img-fluid"
                src="{% static 'solar.png' %}"
                alt="Solar products">
        </div>
    </div>

    <div class="featurette-divider border-bottom my-3 border-success rounded"></div>

    <div class="row mb-1 featurette">
        <div class="col-md-4 my-2">
            <img class="img-fluid"
                src="{% static 'clerk-verified.png' %}"
                alt="Solar products">
            </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2 class="my-2">Only verified sellers allowed</h2>
            <p class="my-2">
                To prevent scams and only get businesses that agree with our goal of improving Africa through renewable and solar energy solutions, 
                we check every request personally, and verify the location of the business. We additionally keep contact with the sellers and ensure that trades between them and their clients are quick, and satisfy both parties.
                If you believe that you can sell your products on this website, fill out the form through the link below.
            </p>
            <div class="row mx-auto">
                <a href="{% url 'beSeller' %}" class="col-md-4 btn btn-outline-primary btn-lg btn-block my-2">Become a seller</a>
            </div>
        </div>
    </div>    

    <div class="featurette-divider border-bottom my-3 border-success rounded"></div>

    <div class="mb-5 text-center d-block">
        <h2>So what do you say? Sign up now and get products at the lowest prices in the fastest and easiest way possible!</h2>
        <a href="{% url 'register' %}" class="btn btn-outline-success btn-lg">Register now!</a>
    </div>
</div>
{% endblock %}