{% extends 'mySolar/layout.html' %}

{% block title %}
Welcome to MySolar | Home
{% endblock %}

{% block meta %}
<meta name="description" content="Buy solar panels, get them installed or get more insight on solar panels, made by Zimbabweans in Zimbabwe, for Zimbabwe and Zimbabweans">
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-1 image carousel-item active" >
        <div class="carousel-caption">
          <h5>Welcome to mySolar</h5>
          <p>Your one stop shop for anything SOLAR</p>
        </div>
      </div>
      <div class="carousel-item image carousel-2">
        <div class="carousel-caption">
          <h5>From Solar panels to installation</h5>
          <p>We've got it all.</p>
        </div>
      </div>
      <div class="carousel-item image carousel-3">
        <div class="carousel-caption">
          <h5>Help us build a greener future for all Zimbabweans</h5>
          <p>Shop with us now.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--  FEATURES  -->

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Welcome to mySolar</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg image" style="background-image: url('https://images.unsplash.com/photo-1628010055450-21f2a0863767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">
          <div class="d-flex flex-column h-100 p-5 pb-4 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">We sell anything SOLAR</h2>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-style bg-dark rounded-4 shadow-lg image" style="background-image: url('https://images.unsplash.com/photo-1597484357592-899485e69fed?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400');">
          <div class="d-flex flex-column h-100 p-5 pb-4 text-style text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">From a wide range of distributors at the best prices </h2>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-black bg-dark rounded-4 shadow-lg image" style="background-image: url('https://img.freepik.com/free-vector/happy-freelancer-with-computer-home-young-man-sitting-armchair-using-laptop-chatting-online-smiling-vector-illustration-distance-work-online-learning-freelance_74855-8401.jpg?size=626&ext=jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">With your ease and comfort at heart</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container marketing">
     **comment here** START THE FEATURETTES  **comment here**

    <hr class="featurette-divider">

    <div class="row featurette vertical-align">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette vertical-align">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, its that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette vertical-align">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    ** comment here ** /END THE FEATURETTES  ** comment here **

  </div> -->

  <div class="album py-5 bg-light">
    <div class="container text-center">
      <div class="heading border-bottom">
        <p>What we offer</p>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
        
            <div class="col">
              <div class="card shadow-sm">
                <div id="zoomBOut">
                  <div id="zoomBIn">
                <img class="bd-placeholder-img card-img-top" src="https://images.unsplash.com/photo-1545209463-e2825498edbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNvbGFyJTIwcGFuZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" role="img" alt="Solar Panels" />
              </div>
            </div>
                <div class="card-body">
                  <p class="card-text">Solar panels</p>
                  <a class="btn btn-primary button" href="#">Find out more</a>
                </div>
              
          </div>
        </div>
      

          <div class="col">
            <div class="card shadow-sm">
              <div id="zoomBOut1">
                <div id="zoomBIn1">
              <img class="bd-placeholder-img card-img-top" src="https://images.unsplash.com/photo-1559302504-64aae6ca6b6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c29sYXIlMjBwYW5lbCUyMGluc3RhbGxhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" role="img" alt="Solar Panels being installed" />
            </div>
          </div>
              <div class="card-body">
                <p class="card-text">Solar panel installation and consultation</p>
                <a class="btn btn-primary button" href="#">Find out more</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <div id="zoomBOut2">
                <div id="zoomBIn2">
              <img class="bd-placeholder-img card-img-top" src="https://images.unsplash.com/photo-1597766325363-f5576d851d6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyJTIwYmF0dGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" role="img" alt="Battery" />
            </div>
          </div>
              <div class="card-body">
                <p class="card-text">Other solar accessories</p>
                <a class="btn btn-primary button" href="#">Find out more</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <a class="btn btn-primary button" href="#">Check out other solar necessities</a>
{% endblock %}