{% extends 'mySolar/dashLayout.html' %}
{% load static %}
{% block title %}
About {{info.customer.username}}'s order
{% endblock %}

{% block body %}
<div class="row row-cols-2 text-center p-50 m-auto">
    <div class="col">
        <a href="{% url 'product' info.item.pk %}">
            <div class="card" style="min-width: 20rem; min-height:100%;">
                <img src="{% static 'respect1000.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ info.item.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ info.item.price }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Sold by <a
                            href="{% url 'sellerInfo' info.item.seller.pk %}"><b>{{ info.item.seller.name }}</b></a>
                    </h6>
                    <p class="card-text">{{ info.item.short_desc }}</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col text-left">
        <p><b>Customer: </b>{{info.customer.username}}</p>
        <p><b>Item amount: </b>{{info.amount_of_item}}</p>
        <p><b>Location: </b>{{info.location}}</p>
        <p><b>Payment method: </b> {{info.payment_method}}</p>
        <p><b>Email of customer:</b> {{info.customer.email}}</p>
        <br>
        {% if info.processed == True %}
        <p class="text-success"><b>Item in process or has been completed.</b></p>
        {% else %}
        <p class="text-info"><b>Item not being processed.</b></p>
        <a href="{% url 'orderInfo' info.pk 'process' %}" class="btn btn-primary">Begin Processing</a>
        {% endif %}
        {% if info.delivered == True %}
        <p class="text-success"><b>Item has been delivered.</b></p>
        {% else %}
        <p class="text-danger"><b>Order not delivered.</b></p>
        <a href="{% url 'orderInfo' info.pk 'delivered' %}" class="btn btn-primary">Mark as
            delivered</a>
        {% endif %}
    </div>
</div>

{% endblock %}