{% extends 'mySolar/layout.html' %}
{% load static %}

{% block title %}
More Info
{% endblock %}

{% block body %}
<div class="d-md-flex flex-md-row justify-content-md-around align-items-center mt-2">
  <section class="img-section float-md-start">
    {% if product.pic %}
    <img src="{% static '{{product.pic}}' %}" class="img-fluid flex-fill" alt="..." />
    {% else %}
    <img src="{% static 'noImage-light.png' %}" class="img-fluid w-100 h-100 flex-fill" alt="..." />
    {% endif %}
  </section>
  <div class="productDivider"></div>
  <section class="info-section float-md-end">
    <h2>{{product.title}}</h2>
    <h2>{{product.price}}</h2>
    <p>
      sold by
      <a href="{% url 'sellerInfo' product.seller.pk %}">{{product.seller.name}}</a>
    </p>
    <p>In the <a href="{% url 'catProducts' product.category %}">{{product.get_category_display}}</a> Category</p>
    <p>{{product.long_desc}}</p>
    {% if product.seller.shopkeeper.username.lower == request.user.username.lower %}
    <a href="{% url 'editProduct' product.pk 'edit' %}" class="btn btn-outline-success">Edit</button>
    <a href="{% url 'editProduct' product.pk 'delete' %}" class="btn btn-outline-primary">Delete</a>
    {% else %}
    <form action="{% url 'orderProduct' product.pk  %}" method="post" class="form text-center border p-3">
      {% csrf_token %}
      {% if error_message %}
      <div class="bg-danger text-white text-center p-2 m-2">
        {{error_message}}
      </div>
      {% endif %}
      {{productForm}}
      <input type="submit" value="Order item" class="btn btn-success">
    </form>
    {% endif %}
  </section>
</div>
{% endblock %}