{% extends 'mySolar/layout.html' %}

{% load static %}

{% block title %}
Store | mySolar
{% endblock %}

{% block body %}
<h1>Store</h1>
<form action="categoryProducts" method="POST">
  {% csrf_token %}
  {{categoryForm}}
  <button type="submit">Search</button>
</form>
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 ">
      <!-- START FOR LOOP HERE -->
      {% for product in products %}
        <div class="col mb-4">
          <a href="{% url 'product' product.pk %}">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'respect1000.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Sold by <a href="{% url 'sellerInfo' product.seller.pk %}"><b>{{ product.seller.name }}</b></a></h6>
                <p class="card-text">{{ price.short_desc }}</p>
                <a href="#" class="btn btn-outline-success card-link">Respect</a>
                <a href="#" class="btn btn-outline-warning text-dark card-link">It's ok</a>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
</div>
{% endblock %}